@import "./BaseStyles/constants";
@import "./BaseStyles/respond";

.students {
  min-height: 100vh;
  padding: 5rem;

  font-family: $font-family, sans-serif, serif;

  @include respond(tab-land) {
    padding: 2rem 0;
  }

  &__pag {
    background-color: #fefefe;
    margin: 0.25rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    &--active {
      background-color: #21212188;
      color: #fefefe;
    }

    &--next {
    }

    &--prev {
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__heading {
    text-align: center;
    font-size: 3rem;
  }

  &__list {
    background-color: lightblue;
    border-radius: 5px;
    width: 80%;
    height: 72vh;
    margin: auto;
    margin-top: 3rem;

    @include respond(tab-land) {
      width: 95%;
    }

    @include respond(medium-phone) {
      width: 100%;
      margin: 3rem 0rem;
    }
  }

  &__list-container {
    height: 80%;
    overflow: auto;
  }

  &__top {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    justify-content: space-between;

    @include respond(medium-phone) {
      justify-content: center;
    }
  }

  &__bottom {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 15rem;
  }

  &__item {
    background-color: #fefefe;
    margin: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    padding: 0.5rem 2rem;
    // justify-content: space-between;
    align-items: center;
    font-weight: 800;

    @include respond(tab-port) {
      font-size: 0.8rem;
    }

    @include respond(phone) {
      font-size: 0.6rem;
      padding: 0.5rem 1.25rem;
      margin: 1rem 1rem;
    }

    @include respond(small-phone) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      margin: 1rem;
    }

    &--eval {
      @include respond(small-phone) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;

        .students__name {
          grid-column: 1/4;
        }

        button {
          grid-column: 2/3;
        }

        margin: 1rem;
      }
    }

    h2,
    span {
      flex: 1;
    }
  }

  span {
    display: flex;
    align-items: center;

    input {
      margin-left: 0.5rem;
    }
  }

  &__item-btn {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
  }
}
